
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- Enter EmailId: <input type="text" name="EmailId"[(ngModel)]="EmailId"/><br/><br/>
Enter Password: <input type="text" name="Password"[(ngModel)]="Password"/><br/><br/>
<button (click)="Submit()">Login</button> -->
<br/>
<div class="container" align="center">
    <h2>Login Form</h2><br/>

    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate align="center">
        <table align="center">
            <tr>
                <td>
                    <div class="input-group" >
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Enter Email-Id" name="emailId" #emailId="ngModel" ngModel required minlength="2" maxlength="30"/>
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Enter Password" name="password" #password="ngModel" ngModel required minlength="2" maxlength="8" />
                    </div>
                    <br/>
                </td>
            </tr>
            <div class="form-group">
                <div class="input-group">
                  <input type="text" name="captchaInput" [(ngModel)]="captchaInput" required placeholder="Enter Captcha" class="form-control">
                  <span class="input-group-addon">{{ captcha }}</span>
                </div>
                <div *ngIf="loginForm.submitted && !captchaInput" class="error-message">
                  Please Enter Captcha
                </div>
                <div *ngIf="loginForm.submitted && captcha !== captchaInput" class="error-message">
                  Incorrect Captcha. Please try again.
                </div>
              </div>
            <tr>
                <td><button [disabled]="!loginForm.valid || captcha !== captchaInput"  class="btn btn-primary">Login</button></td>
            </tr><br/>
            <!-- <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
                        <input type="text" class="form-control" placeholder="Enter Captcha" name="captcha" #captcha="ngModel" ngModel required minlength="5" maxlength="5" />
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="path_to_captcha_image" alt="Captcha Image">
                    <button type="button">Refresh Captcha</button>
                </td>
            </tr> -->
            
        </table>
    </form>

    <div>
        <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter Email-Id</div>
        <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
        
        <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter Atleast 2 Characters for EmailId</div>
        <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 2 Characters for Password</div>
    </div>
</div>
