 /* Custom CSS for the delete button */
 .delete-button {
    color: red; /* Change text/icon color to red */
    border: none; /* Removes the border */
    background-color: transparent; /* Makes the background transparent */
}
.delete-button:focus,
.delete-button:hover {
    color: darkred; /* Darker red color on hover for better user interaction */
    background-color: transparent; /* Ensures background remains transparent on hover */
    border: none;
}