<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



<h3>Welcome {{emailId}}!</h3>

<div class="container"  >
   <ng-container  *ngIf="products.length > 0; else emptyCart">
    <table class="table text-center table-bordered table-sm">
        <thead>
            <tr>
                <th class="bg-info text-white text-center">Product Id</th>
                <th class="bg-info text-white text-center">Product Name</th>
                <th class="bg-info text-white text-center">Price</th>
                <th class="bg-info text-white text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><button class="glyphicon glyphicon-trash delete-button" (click)="deleteItem(product.id)"></button></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><b>Total</b></td>
                <td>{{ calculateTotal() }}</td> 
            </tr>
            <tr>
                <td colspan="3" align="right"><button class="btn btn-primary" (click) = goToProducts()>Purchase</button></td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-template #emptyCart>
    <div class="text-center" style="margin-top: 20px;">
      <h1 style=" color: darkorange;">No items in the cart.</h1>
    </div>
  </ng-template>
</div>