<div class="container">
    <h1>Products</h1>
    <div class="row">
      <div class="col-lg-3 col-md-6" *ngFor="let product of products">
        <div class="card">
          <img class="card-img-top" [src]="product.image" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ product.id }}</h5>
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>  {{ product.price }}</p>
            <p class="card-text">{{ product.description }}</p>
            <p align="right"><button (click)="addToCart(product)" class="btn btn-primary">AddToCart</button> </p>
          </div> 
          
        </div>
      </div>
    </div>
  </div>
 
  